<!-- 空白页面参考模版 -->
{extend name='public/base' /}
{block name='content'}
{include file='public/content_header' /}
<section class="content">
    <div class="container-fluid">
        <iframe src="design" width="100%" height="100%" frameborder="0" id="myIframe"></iframe>
    </div>
</section>
<script>
    var iframe = document.getElementById('myIframe');
    iframe.onload = function() {
        var iframeDoc = iframe.contentDocument || iframe.contentWindow.document;
        iframe.style.height = iframeDoc.documentElement.scrollHeight + 'px';
    };
</script>
{/block}